<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My Extension</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css"
        integrity="sha512-1lCvz8lRFF66HJzKpD6A+U6IVaUkV9U6xuUQVdqfdNV8YJ7zjKwJRYI95gUZ8JpWj1O9x6UuV2v0pz1yaYWX7w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div id="root"></div>
    <script src="<vscode-resource:/index.js>"></script>
</body>

</html>